

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.offer{
    font-size: 50px;
}

.offers_area{
    font-size: 20px;
}

.book_now {
    display: inline-block;
    font-size: 20px;
    color: #009DFF;
    border: 1px solid #009DFF;
    text-transform: capitalize;
    padding: 10px 25px;
}

.offers_area .single_offers a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.offers_area .single_offers a:hover {
   color:white;
    background-color: #1b79b3;
}